{% extends "timer/register_base.html" %}
{% load crispy_forms_tags %}
{% block title %}
CREATE AN ACCOUNT
{% endblock %}
{% block content %}
    <div id="register", name="register", class="user_reg">
        <div class="row justify-content-center">
            <div class="col-8">
                <h1 class="mt-2">CREATE ACCOUNT</h1>
                <hr class="mt-0 mb-4">
                <form method="post" class="form-group">
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-success">Register</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}