<h1>Pomodoro <span>
    <img width="50" height="50" 
    src="https://img.lovepik.com/element/40147/9698.png_860.png" alt="Pomodoro"></span> Timer</h1>
<style>
    body {
        background-color: black;
        text-align: center;
        color: white;
        font-size:300%;
    }
    </style>

<main id="pomodoro">

    <p id="quote"></p>
    <div id="clock">25:00</div>

   <div id="timer_button_container"> </div> 
   
    <form action="" method="post">
    <button name="start_timer"  type="input" id="pomodoro-start" value="start" >START</button> 
    </form>

    <div id="timer_button_container">
        <button name="reset" type="button" { %csrf_token% }  id="pomodoro-reset" value="reset">Reset</button>
    </div> 

    <div id="timer_button_container">
        <button type="button" id="pomodoro-stop">Stop</button>
    </div> 

  <div class="left">
    <span>Break Length</span><br>
    <input type="button" value="-" id="minBreakBtn">
    <span id="breakNum">5</span>
    <input type="button" value="+" id="plusBreakBtn">
  </div>

  <div class="right">
    <span>Session Length</span><br>
    <input type="button" value="-" id="minSessionBtn">
    <span id="sessionNum">25</span>
    <input type="button" value="+" id="plusSessionBtn">
  </div>
  
  <script>
    function goPython(){
        $.ajax({
        src: "pomodoro//timer//timer.py.py",
        context: document.body
        }).done(function() {
         alert('finished python script');;
        });
    }
</script>
  
  
  <div id="progress"></div>
</main>
