<h1>Pomodoro <span>
    <img width="50" height="50"
    src="https://cdn4.iconfinder.com/data/icons/lifestyle-set-2/100/62e7c85d5ee356f4a1e17fd0ca344590-512.png" alt="Pomodoro"></span> Timer</h1>
<style>
    body {
        background-color: black;
        text-align: center;
        color: white;
        font-size:300%;
    }
    </style>

    <main id="pomodoro">
        <p id="clock" style="font-size:200%" >25:00</p>

    <form action="" method="post">
    <button name="start_timer"  type="input" id="pomodoro-start" value="start" >START</button>
    </form>


<!--  <div class="left">-->
<!--    <span>Break Length</span><br>-->
<!--    <input type="button" value="-" id="minBreakBtn">-->
<!--    <span id="breakNum">5</span>-->
<!--    <input type="button" value="+" id="plusBreakBtn">-->
<!--  </div>-->

<!--  <div class="right">-->
<!--    <span>Session Length</span><br>-->
<!--    <input type="button" value="-" id="minSessionBtn">-->
<!--    <span id="sessionNum">25</span>-->
<!--    <input type="button" value="+" id="plusSessionBtn">-->
<!--  </div>-->

  <div id="progress"></div>
</main>
