{% extends 'base.html' %}
{% block content %}
<p class="h4">Session Detail</p>
<table class="table table-dark table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Start</th>
      <th scope="col">End</th>
    </tr>
  </thead>
  <tbody>
{% if session_data %}
    {% for item in session_data %}
    <tr>
      <th scope="row"></th>
      <td>{{item.start_time}}</td>
      <td>{{item.end_time}}</td>
    </tr>
    {% endfor %}
{% endif %}
    </tbody>
</table>

<p class="h4">Sites Visited</p>
<table class="table table-dark table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">URL</th>
      <th scope="col">Time</th>
    </tr>
  </thead>
  <tbody>
{% if activity_data %}
    {% for item in activity_data %}
    <tr>
      <th scope="row"></th>
      <td>{{item.site_url}}</td>
      <td>{{item.visit_timestamp}}</td>
    </tr>
    {% endfor %}
{% endif %}
    </tbody>
</table>

<p class="h4">Sites Blocked</p>
<table class="table table-dark table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">URL</th>
    </tr>
  </thead>
  <tbody>
{% if blockedsites_data %}
    {% for item in blockedsites_data %}
    <tr>
      <th scope="row"></th>
      <td>{{item.site_url}}</td>
    </tr>
    {% endfor %}
{% endif %}
    </tbody>
</table>


<script>
 (function() {
    var table = document.getElementsByTagName('table')[0],
    rows = table.getElementsByTagName('tr'),
    text = 'textContent' in document ? 'textContent' : 'innerText';
    for (var i = 1, len = rows.length; i < len; i++) {
        rows[i].children[0][text] = i;
    }

 })();
 </script>
{% endblock %}
