{% extends "timer/register_base.html" %}
{% load crispy_forms_tags %}
{% block title %}
USER LOGIN
{% endblock %}
{% block content %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}
    <div id="login", name="login", class="user_reg">
        <div class="row justify-content-center">
            <div class="col-8">
                <h1 class="mt-2">USER LOGIN</h1>
                <hr class="mt-0 mb-4">
                <form method="post" class="form-group">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <p>Don't have an account? Create one <a href="/register">here</a></p>
                    <button type="submit" class="btn btn-success">Login</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
