{% extends "timer/register_base.html" %}
{% load crispy_forms_tags %}
{% block title %}
USER LOG OUT
{% endblock %}
{% block content %}
    <div id="logout", name="logout", class="user_reg">
        <div class="row justify-content-center">
            <div class="col-8">
                <h1 class="mt-2">USER LOG OUT</h1>
                <hr class="mt-0 mb-4">
                <p>Want to login again? Please press <a href="/account/login">here</a></p>
            </div>
        </div>
    </div>
{% endblock %}